##
## NAMESPACE file for pepStat library.
##
useDynLib(pepStat)
importFrom(stats4,summary)
importClassesFrom(IRanges, RangedData)
importClassesFrom(Biobase,eSet, VersionedBiobase, Versioned, AnnotatedDataFrame,AssayData,ExpressionSet, MIAME, Versions)
importClassesFrom(methods, character, integer, numeric)

importMethodsFrom(Biobase, combine, exprs, "exprs<-", preproc,"preproc<-", sampleNames,"sampleNames<-",rowMedians)
importMethodsFrom(IRanges, lapply,"ranges<-",ranges,values,"values<-",as.data.frame)
importMethodsFrom(methods, show)
importMethodsFrom(PEP.db, clade)

 #importMethodsFrom(base, split)
importFrom(methods, "@<-", new)
importFrom(stats, rnorm)
importFrom(limma, read.maimages, backgroundCorrect)
importFrom(gdata,read.xls)
importFrom(IRanges, RangedData,IRanges)
importFrom(Biobase,ExpressionSet)

## export anything w/out a dot in front. 
exportPattern("^[^\\.]")
exportClasses(peptideSet)
exportMethods(show,summary,"[","position","clade","split","peptide","featureID","start","end")
