##
## NAMESPACE file for pepStat library.
##
useDynLib(pepStat)
importFrom(stats4,summary)
importClassesFrom(IRanges, RangedData)
importClassesFrom(Biobase, eSet, VersionedBiobase, Versioned, AnnotatedDataFrame, AssayData, ExpressionSet, MIAME, Versions)
importClassesFrom(methods, character, integer, numeric)

importMethodsFrom(Biobase, combine, exprs, "exprs<-", preproc,"preproc<-", sampleNames,"sampleNames<-",rowMedians)
importMethodsFrom(IRanges, lapply,"ranges<-",ranges,values,"values<-",as.data.frame, width, cbind)
importMethodsFrom(methods, show)

importFrom(methods, new)
importFrom(stats, rnorm)
importFrom(limma, read.maimages, backgroundCorrect)
importFrom(IRanges, RangedData, IRanges)
importFrom(Biobase, ExpressionSet)
#importMethodsFrom(gdata, drop.levels)
importFrom(tools, file_ext)

exportClasses(peptideSet)
exportMethods(show, summary, "[", "position", "clade", "split", "peptide", "featureID", "start", "end", "width", "values", "values<-", "subset", "write.pSet")
export("makePeptideSet", "summarizePeptides", "slidingMean", "NormalizeArray", "makeCalls")

